.intro-text {
    text-align: center;
    font-family: "SuisseIntl", sans-serif;
}
  
  .text-wrapper {
    margin-top: 16px;
  }
  
  .text-content {
    color: white;
    font-size: 4.5rem;
    line-height: 1.5;
    letter-spacing: 0.05em;
  }
  
  .text-container {
    display: inline-block;
  }
  
  .text-word {
    opacity: 0;
    filter: blur(10px);
    margin-right: 5px;
  }
  